.log-bg {
    min-height: 100vh;
    max-height: 100vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    background: url("../images/login/bg.jpg");
    background-position: center;
    padding: 30px 12px;
}

.title-style h1 {
    position: relative;
    width: 100%;
    background: transparent;
    display: block;
    left: 0;
    right: 0;
    width: auto;
    margin: 0 auto;
    margin-bottom: 0px;
    display: block;
    top: 20px;
    padding: 0;
    padding-bottom: 0px;
    text-align: left;
    padding-bottom: 15px;
}

.btn-primary {
    color: #fff !important;
    background-color: #4aa4d9;
    border-color: #4aa4d9;
}

.btn-primary:hover {
    color: #fff !important;
    background-color: #2b8fca;
    border-color: #2b8fca;
}

.btn-list.actn .btn {
    padding: 0.1rem 1em;
    font-size: 13px;
}

.fifty {
    width: 50%;
}

table.dataTable tr.parent {
    animation: none !important;
}

.newser label {
    color: #4f4f4f;
    font-size: 15px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: 1px solid #dfdfdf;
}

.verif {
    background: #acd373;
    color: #357926;
    padding: 8px 10px;
    font-size: 14px;
    border-radius: 4px;
    display: block;
    width: 15%;
    text-align: center;
    float: right;
}

.verif-red {
    background: #ffa390;
    color: #c4321c;
    padding: 8px 10px;
    font-size: 14px;
    border-radius: 4px;
    display: block;
    width: 10%;
    text-align: center;
    float: right;
}

.header-notify.show .dropdown-menu {
    left: -295px !important;
}

.notify-menu .font-weight-normal1{
    word-break: break-all;
    white-space: normal;
}

.wrapper{
    display:block;
    width:100%;
}

.header-brand-img {
  height: auto !important;
  width: 170px;
  display: block;
}

.app-sidebar__logo {
  padding: 2px 15px;
}

.side-menu__label {
  font-size: 13px;
}

.n_count {
    display: block;
    position: absolute;
    top: -5px;
    right: 0px;
    width: 22px !important;
    height: 22px !important;
    border-radius: 50%;
    background: #FED204;
    cursor: pointer;
    color: #000;
    font-size: 10px !important;
    line-height: 24px;
}

.widget-user-image {
    overflow: hidden;
}

.widget-user-image img{
    object-fit:cover;
    width: 100%;
    height: 100%;
}

@media (min-width: 768px){
.sidenav-toggled .app-sidebar__logo {
    padding: 6px 8px;
    width: 70px;
    border-right: 0px solid #ebecf1;
    height: auto;
}
}